body {
  background-color: white;
  color: black;
}

.darkMode {
  background-color: #262730;
  color: white;
} 

.hidden {
  display: none; 
}

#penguins {
  height: 500px;
}

.rightAnswer {
  color: green; 
}

.wrongAnswer {
  color: red;
}