* {
  margin: 4px;
}
header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

span {
  width: ;
}
#modeBtn {
  background-color: rgba(91, 91, 151, 0.753);
  align-self: flex-end;

}

body {
  background-color: white;
  color: black;
}
div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#options {
  margin: 15px;
  padding: 10px;
}

.darkMode {
  background-color: #262730;
  color: white;
} 

.hidden {
  display: none; 
}

#penguins {
  height: 500px;
}

#submit {
  margin-top: 10px;
}

#submit, #modeBtn {
  cursor: pointer;
  /* display: none; */
}